/* Global */

.center-h {
    align: center top;
    height: auto;
}

/* Name */

.name-title {
    color: red;
    margin-bottom: 2;
}

.name-container {
    align: center middle;
}

.name-btn-c {
    width: 40;
    padding: 1;
}

.input-name {
    width: 40;
    margin-top: 1;
}

/* WaitingRoom */

.waiting-table {
    width: auto;
}
